@page "/"

@* <div hidden="@MainMenuHidden">
    <MainMenu StoryChosen="StoryChosen" InfiniteChosen="InfiniteChosen" AboutChosen="AboutChosen" />
</div>
<div hidden="@TutorialHidden">
    <Tutorial TutorialContinue="TutorialContinue" />
</div>
<div hidden="@FirstRoundHidden">
    <FirstRound FirstRoundComplete="FirstRoundComplete" Name="@Name" />
</div> *@
<div> @* hidden="@ExplanationHidden"*@
    <Explanation ExplanationContinue="ExplanationContinue" />
</div>
@* <div hidden="@SecondRoundHidden">
    <SecondRound SecondRoundComplete="SecondRoundComplete" Name="@Name" />
</div>
<div hidden="@SummaryHidden">
    <Summary SummaryContinue="SummaryContinue" Wins="Wins" CorrectUnwinnables="CorrectUnwinnables" 
        TotalGames="TotalGames" TotalUnWins="TotalUnWins" />
</div>
<div hidden="@InfiniteHidden">
    <Infinite InfiniteComplete="InfiniteComplete" Name="@Name" />
</div> *@

@code {
    public bool MainMenuHidden { get; set; } = false;
    public bool TutorialHidden { get; set; } = true;
    public bool FirstRoundHidden { get; set; } = true;
    public bool ExplanationHidden { get; set; } = true;
    public bool SecondRoundHidden { get; set; } = true;
    public bool SummaryHidden { get; set; } = true;
    public bool InfiniteHidden { get; set; } = true;
    public int Wins { get; set; } = 0;
    public int TotalGames { get; set; } = 0;
    public int CorrectUnwinnables { get; set; } = 0;
    public int TotalUnWins { get; set; } = 0;
    public string Name { get; set; } = "";


    public void StoryChosen(string name) 
    {
        Name = name;
        MainMenuHidden = true;
        TutorialHidden = false;
    }

    public void InfiniteChosen(string name) 
    {
        Name = name;
        MainMenuHidden = true;
        InfiniteHidden = false;
    }

    public void AboutChosen(bool about) 
    {
        Console.WriteLine($"about: {about}");
    }

    public void TutorialContinue(bool continued) 
    {
        Console.WriteLine($"coninued: {continued}");
        TutorialHidden = true;
        FirstRoundHidden = false;
    }

    public void FirstRoundComplete(int wins) 
    {
        Console.WriteLine($"complete: {wins}");
        FirstRoundHidden = true;
        ExplanationHidden = false;
        Wins += wins;
        TotalGames += 4;
    }

    public void ExplanationContinue(bool continued)
    {
        Console.WriteLine($"continued: {continued}");
        ExplanationHidden = true;
        SecondRoundHidden = false;
    }

    public void SecondRoundComplete(Tuple<int, int, int> tuple)
    {
        Console.WriteLine($"second complete: {tuple.Item1} {tuple.Item2}");
        Wins += tuple.Item1;
        CorrectUnwinnables += tuple.Item2;
        TotalGames += 7;
        TotalUnWins += tuple.Item3;
        SecondRoundHidden = true;
        SummaryHidden = false;
    }

    public void InfiniteComplete(Tuple<int, int, int, int> tuple)
    {
        Console.Write($"infinite complete: {tuple.Item1} {tuple.Item2}");
        Wins += tuple.Item1;
        CorrectUnwinnables += tuple.Item2;
        TotalGames += tuple.Item3;
        TotalUnWins += tuple.Item4;
        InfiniteHidden = true;
        SummaryHidden = false;
    }

    public void SummaryContinue(bool continued)
    {
        Console.WriteLine($"continued: {continued}");
        SummaryHidden = true;
        if (continued)
        {
            MainMenuHidden = false;
        }
        else
        {
            InfiniteHidden = false;
        }
    }
}