@page "/"

<div hidden="@MainMenuHidden">
    <MainMenu StoryChosen="StoryChosen" InfiniteChosen="InfiniteChosen" AboutChosen="AboutChosen" />
</div>
<div hidden="@TutorialHidden">
    <Tutorial TutorialContinue="TutorialContinue" />
</div>
<div hidden="@FirstRoundHidden">
    <FirstRound FirstRoundComplete="FirstRoundComplete" />
</div>
<div hidden="@ExplanationHidden">
    <Explanation ExplanationContinue="ExplanationContinue" />
</div>
<div hidden="@SecondRoundHidden">
    <SecondRound SecondRoundComplete="SecondRoundComplete" />
</div>
<div hidden="@SummaryHidden">
    <Summary SummaryContinue="SummaryContinue" Wins="Wins" CorrectUnwinnables="CorrectUnwinnables" />
</div>

<div hidden="@InfiniteHidden">
    <Infinite InfiniteComplete="InfiniteComplete" />
</div>

@code {
    public bool MainMenuHidden { get; set; } = false;
    public bool TutorialHidden { get; set; } = true;
    public bool FirstRoundHidden { get; set; } = true;
    public bool ExplanationHidden { get; set; } = true;
    public bool SecondRoundHidden { get; set; } = true;
    public bool SummaryHidden { get; set; } = true;
    public bool InfiniteHidden { get; set; } = true;
    public int Wins { get; set; } = 0;
    public int CorrectUnwinnables { get; set; } = 0;


    public void StoryChosen(bool story) 
    {
        Console.WriteLine($"story: {story}");
        MainMenuHidden = true;
        TutorialHidden = false;
    }

    public void InfiniteChosen(bool infinite) 
    {
        Console.WriteLine($"infinite: {infinite}");
        MainMenuHidden = true;
        InfiniteHidden = false;
    }

    public void AboutChosen(bool about) 
    {
        Console.WriteLine($"about: {about}");
    }

    public void TutorialContinue(bool continued) 
    {
        Console.WriteLine($"coninued: {continued}");
        TutorialHidden = true;
        FirstRoundHidden = false;
    }

    public void FirstRoundComplete(int wins) 
    {
        Console.WriteLine($"complete: {wins}");
        FirstRoundHidden = true;
        ExplanationHidden = false;
        Wins += wins;
    }

    public void ExplanationContinue(bool continued)
    {
        Console.WriteLine($"continued: {continued}");
        ExplanationHidden = true;
        SecondRoundHidden = false;
    }

    public void SecondRoundComplete(Tuple<int, int> tuple)
    {
        Console.WriteLine($"second complete: {tuple.Item1} {tuple.Item2}");
        Wins += tuple.Item1;
        CorrectUnwinnables += tuple.Item2;
        SecondRoundHidden = true;
        SummaryHidden = false;
    }

    public void InfiniteComplete(Tuple<int, int> tuple)
    {
        Console.Write($"infinite complete: {tuple.Item1} {tuple.Item2}");
        Wins += tuple.Item1;
        CorrectUnwinnables += tuple.Item2;
        InfiniteHidden = true;
        SummaryHidden = false;
    }

    public void SummaryContinue(bool continued)
    {
        Console.WriteLine($"continued: {continued}");
        SummaryHidden = true;
        if (continued)
        {
            MainMenuHidden = false;
        }
        else
        {
            InfiniteHidden = false;
        }
    }
}